<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,-25" />

<div class="toolbar-wrapper">
    <mat-toolbar class="toolbar">
        <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
        <span class="h1">Ascent</span>
        <span class="spacer"></span>
        <button (click)="triggerCart()" mat-icon-button class="example-icon favorite-icon">
    <mat-icon class="badge" *ngIf="cartItemCount > 0" matBadge="{{cartItemCount}}" matBadgeColor="warn" aria-hidden="false">shopping_cart</mat-icon>
    <mat-icon *ngIf="cartItemCount === 0" aria-hidden="false">shopping_cart</mat-icon>
  </button>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>