.user-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 20px;
    .image-field {
        .img {
            padding-right: 10px;
            height: 100%;
            width: 100%;
            max-width: 40px;
            justify-content: center;
            display: flex;
        }
    }
    .text-field {
        padding-right: 20px;
    }
}