.cart-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    .cart-content {
        position: absolute;
        top: 85px;
        right: 12px;
        display: flex;
        overflow: auto;
        flex-direction: column;
        width: 318px;
        height: 50%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        border-radius: 20px;
        .empty-cart {
            justify-content: center;
            align-items: center;
            position: relative;
            display: flex;
            margin-top: 10px;
            color: rgb(179, 178, 178);
        }
        .total {
            padding-top: 20px;
            padding-bottom: 20px;
            justify-content: flex-end;
            display: flex;
        }
        .product-card {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            border-bottom: 1px solid #eee;
            .img-wrapper {
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                .product-image {
                    scale: 90%;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center center;
                    transition: transform 0.3s ease;
                }
            }
            .product-info {
                display: grid;
                justify-content: center;
                align-items: center;
                max-width: 214px;
                margin-left: 20px;
                .product-name {
                    min-width: 214px;
                }
                .price-delete-row {
                    justify-content: space-between;
                    display: inline-flex;
                    .current-price {
                        align-items: center;
                        display: flex;
                    }
                }
            }
        }
    }
}

.cart-content::-webkit-scrollbar {
    display: none;
}