<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,-25" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="card-body border-shadow background-white cursor-pointer">
    <div class="mat-card-header">
        <div class="discount-banner-body border background-red">
            <div class="discount-text h2">{{product.discountPercentage}} OFF</div>
        </div>
        <div class="add-button-body button border cursor-pointer" (click)="openSnackBar(product.productName)" (click)="addProductToCart(product.id)">
            <span class="material-symbols-rounded add-icon cursor-pointer">
                add
            </span>
        </div>
    </div>

    <div class="product-image-div">
        <img class="product-image" (mouseover)="zoomIn()" (mouseout)="zoomOut()" src="{{product.productImageURL}}" [class.zoomed]="isZoomed">
    </div>

    <div class="product-info-body border background-whitesmoke cursor-pointer" (click)="openProductScreen(product.id)">
        <div class="product-info-content">
            <div class="h1">{{product.productName}}</div>
            <div class="product-price-row">
                <div class="product-price">
                    <div class="current-price h2">R{{product.currentPrice}}</div>
                    <div class="original-price strikethrough">R{{product.fullPrice}}</div>
                </div>
                <div class="prodcut-rating">
                    <span class="material-symbols-rounded star-icon gold">
                        grade
                        </span>
                    <div class="h2">{{product.rating}} </div>
                </div>
            </div>
        </div>
    </div>
</div>