.product-overlay-body {
    padding: 20px;
    height: 600px;
    width: auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    overflow: hidden;
    .product-overlay-content {
        overflow: auto;
    }
}

.product-hero {
    .product-info-text {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        height: 100%;
        border-radius: 20px;
    }
}

.read-more {}

.read-less {}

.review-box {
    margin-top: 20px;
    border-radius: 20px;
    padding: 15px;
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.product-image-div {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    .product-image {
        width: 100%;
        max-height: 400px;
        max-width: 300px;
    }
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating-text {
    display: flex;
}

.review-text {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-rating {
    align-items: center;
    display: flex;
}

.user-name {
    margin-right: 10px;
}

.user-rating-stars {
    font-size: 22px;
    bottom: 3px;
    position: relative;
    padding-left: 10px
}

.user-review {
    font-size: 16px;
}

.product-overlay-content::-webkit-scrollbar {
    display: none;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 20px !important;
}