<div class="product-overlay-body transparent-backdrop">
    <div class="product-overlay-content">
        <div class="product-hero">
            <div class="product-image-div">
                <img class="product-image" src="{{product.productImageURL}}">
            </div>
            <div class="product-info-text border background-whitesmoke">
                <div>
                    <div class="specs-wrapper">
                        <h2>{{ product.productName }}</h2>

                        <h3>Overview:</h3>
                        <p>{{ product.specifications.overview }}</p>

                        <h3>Key Features:</h3>
                        <ul>
                            <li *ngFor="let feature of product.specifications.keyFeatures">
                                <strong>{{ feature.category }}:</strong>

                                <ul>
                                    <br>
                                    <li *ngFor="let detail of feature.details">{{ detail }}</li>
                                </ul>
                                <br>
                            </li>

                        </ul>

                        <h3>Dimensions and Weight:</h3>
                        <ul>
                            <li *ngFor="let item of product.specifications.dimensionsAndWeight">{{ item }}</li>
                        </ul>

                        <h3>Package Contents:</h3>
                        <ul>
                            <li *ngFor="let item of product.specifications.packageContents">{{ item }}</li>
                        </ul>

                        <h3>Warranty:</h3>
                        <p>{{ product.specifications.warranty }}</p>

                        <p>{{ product.specifications.additionalInfo }}</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="review-box review-border" *ngFor="let review of product.reviews">
            <div class="user-info">
                <img class="user-avatar" src="{{review.reviewerAvatarURL}}" alt="User Avatar">
                <div class="review-text">
                    <span class="user-name h2">{{ review.reviewerName }}</span>
                    <div class="rating-text">
                        <span class="user-rating h2">{{ review.rating }}</span>
                        <span class="user-rating-stars gold">
                            &#9733; &#9733; &#9733; &#9733; &#9734;
                        </span>
                    </div>
                </div>
            </div>
            <p class="user-review" [ngClass]="{ 'expanded': review.isExpanded }">
                <ng-container *ngIf="!review.isExpanded; else expandedText">
                    {{ truncateAndTrimText(review.reviewText, 180) }}...
                    <span *ngIf="review.reviewText.length > 180">
                        <span class="read-more h3 cursor-pointer" (click)="review.isExpanded = true">Read More</span>
                    </span>
                </ng-container>
                <ng-template #expandedText>
                    {{ review.reviewText }}
                    <span *ngIf="review.reviewText.length > 180">
                        <span class="read-less h3 cursor-pointer" (click)="review.isExpanded = false">Read Less</span>
                    </span>
                </ng-template>
            </p>
        </div>
    </div>

</div>